name: MLflow CI + Docker

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install mlflow==2.19.0 scikit-learn pandas

      - name: Run training with MLflow Project
        run: |
          cd MLProject
          mlflow run . --env-manager=virtualenv

      - name: Build Docker image
        run: |
          cd MLProject
          mlflow models build-docker -m docker_model -n telco-churn-model

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Tag Docker image
        run: |
          docker tag telco-churn-model ${{ secrets.DOCKERHUB_USERNAME }}/telco-churn-ml:latest

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/telco-churn-ml:latest
